@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Degular+Display:wght@400;500;600;700;800;900&display=swap');

:root {
  --font-color: #FFFFFF;
  --accent-grey: #252323;
  --background-color: #201E1E;
  --highlight-yellow: #EDAF53;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.6;
  margin-bottom: 20px;
}

a {
  color: var(--font-color);
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: 'Degular Display', serif;
  font-weight: 600;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h5, h6 {
  font-family: 'Inter', serif;
  color: var(--font-color);
  font-weight: 400;
  margin: 1rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 2rem;
}
