.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 6rem;
    background-color: var(--background-color);
    box-sizing: border-box;
  }
  
  /* Logo Section */
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logoImage {
    height: 3rem;
    width: 100%;
  }
  
  /* Navigation Links */
  .navLinks {
    display: flex;
    gap: 6rem; 
    background-color: var(--accent-grey); 
    padding: 1.6rem 5rem; 
    border-radius: 2rem; 
  }
  
  /* Style for individual links */
  .navLinks a {
    color: var(--font-color); 
    font-family: 'Inter', sans-serif; 
    font-weight: 600; 
    font-size: 0.8rem; 
    text-decoration: none; 
    display: flex;
    align-items: center; 
  }
  